.avatar_profile {
    width: 200px;
    height: auto;
}
.profilepageimg {
    width: 300px;
    height: auto;
}

.btn-options {
    background-color: #0c9ffb;
    color: #000;
    fill: #000;
    stroke: none;
    border: none;
    outline: none;
    float: right;
    border-radius: 60px;
    cursor: pointer;
}
svg {
    vertical-align: -2px;
}

.user-info, .settings {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}
li {
    list-style-type: none;
}

.flexdisp {
    align-items: center;
    justify-content: center;
}
.standard-post {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.challenge {
    padding: 10px;
    background-color: red;
    border-radius: 10px;
}
.modal-title {
    color: #000;
}
.modal-body {
    color: #000;
}
.modal {
    position: absolute;
}

.btnpost {
    background-color: #98c70c;
    color: #fff;
}