@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
.App {
  text-align: center;
}
html, body, .register, .register>div {
  height: 100%;
}

.rubik-mono-one-regular {
  margin:0;
  padding:0;
font-family: "Rubik Mono One", monospace;
font-weight: 400;
font-style: normal;
}
.varela-round-regular {
  margin:0;
  padding:0;
font-family: "Varela Round", sans-serif;
font-weight: 400;
font-style: normal;
}

.treeproper {
  width: 100% !important;
  height: 90vh !important;
}
.card.purple {
  width: 300px;
  border:none !important;
box-sizing: border-box;
padding: 2em;
font-family: Ubuntu;
border-radius: 25px;
color: white;
line-height: 25px;
box-shadow: 5px 5px 10px #ccc;
float: left;
margin-right: 1em;
background: linear-gradient(150deg, #f731db, #4600f1 100%);
color:white !important;
box-shadow: 5px 5px 10px #ccc !important;
}

.card.green {
  width: 300px;
  border:none !important;
box-sizing: border-box;
padding: 2em;
font-family: Ubuntu;
border-radius: 25px;
color: white;
line-height: 25px;
box-shadow: 5px 5px 10px #ccc;
float: left;
margin-right: 1em;
background: linear-gradient(150deg, #39ef74, #4600f1 100%);
color:white !important;
box-shadow: 5px 5px 10px #ccc !important;
}

.butt_on {
text-transform: uppercase;
width: 150px;
display: block;
margin: 0 auto;
color: #4600f1;
border-radius: 50px;
padding: 1em;
background: white;
border: none;
font-weight: bold;
margin-top: 4em;
}

.register {
  background-color: #171717;
  color: #fff;
  /* background-repeat: no-repeat; */
  width: 100%;
  height: 100%;
}
.register_button_official {
  /* margin-top: 10px; */
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: mediumspringgreen solid 0.15em;
  border-radius: 0.25em;
  color: mediumspringgreen;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  margin-top: 10px;
}

.register_button_official p {
  margin: 0;
  padding: 0;
  z-index: 1;
}

.register_button_official:hover {
  color: #212121;
}

.register_button_official:active {
  border-color: teal;
}

.register_button_official::after, .register_button_official::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: mediumspringgreen;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.register_button_official::before {
  left: 0;
  transform: translateX(-8em);
}

.register_button_official::after {
  right: 0;
  transform: translateX(8em);
}

.register_button_official:hover:before {
  transform: translateX(-1em);
}

.register_button_official:hover:after {
  transform: translateX(1em);
}

.register_button_official:active:before,
.register_button_official:active:after {
  background: teal;
}


.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 26px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: greenyellow;
  box-shadow: 0 0 0 2px greenyellow;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  margin-top: 10px;
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: greenyellow;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: greenyellow;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
  width: 180px;
  height: 180px;
  opacity: 1;
}

.glogo {
  width: 270px;
  height: 60px;
  font-size: 18px;
  background: #fff;
  border: none;
  border-radius: 50px;
  color: #000;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

.glogo:hover {
  box-shadow: inset 0 0 0 4px #4285f4, 
              inset 0 0 0 8px #34a853, 
              inset 0 0 0 12px #fbbc05,
              inset 0 0 0 16px #ea4335;
  background: #ffffff;
  color: #000000;
}
.register-group {
  position: relative;
}
 .register-inp {
  width: 100%;
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
 }
 
 .register-label {
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
 }
 
 .register-inp:focus, .register-inp:valid {
  outline: none;
  border: 1.5px solid #1a73e8;
 }
 
 .register-inp:focus ~ label, .register-inp:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: #212121;
  padding: 0 .2em;
  color: #2196f3;
 }


.nextslidebtn {
  padding: 7px 20px;
  border-radius: 10px;
  border: 0;
  /* background-color: rgb(255, 56, 86); */
  background-color: #37b115;
  box-shadow: #007704 0px 10px 0px 0px;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.3s ease;
  /* box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px; */
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  margin-left: 10px;
}

.nextslidebtn:hover {
  box-shadow: #007704 0px 7px 0px 0px;

  /* box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px; */
}

.nextslidebtn:active {
  /* background-color: rgb(255, 56, 86); */
  background-color: #37b115;
  /* background-color: #37b115; */
  box-shadow: #007704 0px 0px 0px 0px;
  /*50, 168, 80*/
  /* box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px; */
  transform: translateY(5px);
  transition: 200ms;
}

.prevslidebtn {
  padding: 7px 20px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 56, 86);
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  margin-right: 10px;
}

.prevslidebtn:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

.prevslidebtn:active {
  background-color: rgb(255, 56, 86);
  /*50, 168, 80*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

.btn-white {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  border: 3px solid rgb(252, 70, 100);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  margin: 10px;
 }
 
 .btn-white::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(252, 70, 100);
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
 }
.btn-white:hover {
  color: #fff;
} 
 .btn-white:hover::before {
  /* color: #fff; */
  transform: translateX(0);
 }


.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-check-input{
  margin-right:100px;
}

.modal_register {
  background-color: #212121;
  width: 500px;
  height: 650px;
  border-radius: 10px;
  padding: 10px;
}
/* .glogo {
  background-color: white;
  cursor: pointer;
  width: 350px;
  border-radius: 50px;
  outline: none;
  border: 3px solid #e6e6e6;  
} */
body[data-theme="light"] {
  --bg-color: #fff;
  --headings-color: #000;
  --desc-color: #000;
  --button-color: #007bff;
  --div-color: #ededed;
  --other-color: #ffffff;
  --mute-text: #a3a3a3;
  --lighter-bgs: #d3d4d5;
  --leaderboard: #212529;
  --calendar-hover: #9bdfff;
  --calendar-now: #ffde00;
  --input-shade: #dcdcdc;
  border: none !important;
}
body[data-theme="light theme"] {
  --bg-color: #fff;
  --headings-color: #000;
  --desc-color: #000;
  --button-color: #007bff;
  --div-color: #ededed;
  --other-color: #ffffff;
  --mute-text: #a3a3a3;
  --lighter-bgs: #d3d4d5;
  --leaderboard: #212529;
  --calendar-hover: #9bdfff;
  --calendar-now: #ffde00;
  --input-shade: #dcdcdc;
  border: none !important;
}
body[data-theme="dark theme"] {
  --bg-color: #141b21;
  --headings-color: #fafafa;
  --desc-color: #fafafa;
  --button-color: #FF4C29;
  --div-color: #2f3a43;
  --other-color: #2C394B;
  --mute-text: #c9c9c9;
  --lighter-bgs: #384953;
  --leaderboard: #333a42;
  --calendar-hover: #30273b57;
  --calendar-now: #ffc400;
  --input-shade: #3940446d;
  border: none !important;
}

body[data-theme="summer theme"] {
  --bg-color: #61A3BA;
  --desc-color: #000;
  --button-color: #D2DE32;
  --div-color: #ebebcd;
  --other-color: #FFFFDD;
  --mute-text: #000;
  --lighter-bgs: #e9e9e9;
  --leaderboard: #212529;
}

body[data-theme="night theme"] {
  --bg-color: #092635;
  --headings-color: #fafafa;
  --desc-color: #fafafa;
  --button-color: #9EC8B9;
  --div-color: #5C8374;
  --other-color: #1B4242;
  --mute-text: #c9c9c9;
  --lighter-bgs: #384953;
  --leaderboard: #212529;

}

body {
  background: var(--bg-color) !important;
}
.react-flow {
  z-index: 9999 !important;
}
.barchart {
  width: 100% !important;
  height: 100% !important;
  display: block !important;
}
.canvas-connections {
  width: 100% !important;
  height: auto !important;
  overflow: scroll !important;
  color: blue !important;
} 
nav {
  background-color: var(--other-color) !important;
  color: var(--desc-color) !important;
}
/* .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.cmodal {
  background-color: var(--div-color) !important;
  color: var(--desc-color) !important;
}
.cmodal input, textarea {
  background-color: var(--input-shade) !important;
  color: var(--headings-color) !important;
  border: none !important;
}
.cmodal input {
  border-radius: 40px;
}
.cinline-nav {
  background-color: var(--bg-color) !important;
}
.navbar-brand {
  color: var(--desc-color) !important;
}

.theme-text {
  color: var(--desc-color) !important;
}

.card {
  background-color: var(--other-color) !important;
  color: var(--desc-color) !important;
  height: auto !important;
}

.card {
  padding: 1.2rem !important;
  border-radius: 1rem !important;
  border: 0.5vmin solid #05060f !important;
  box-shadow: 0.4rem 0.4rem #05060f !important;
  overflow: hidden !important;
  margin-top: 2px !important;
}
.card hr {
  width: 100%;
  border:  5px solid #000;
}

/*Card content*/
.cbg {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 0.5rem;
}

.cbg p {
  color: #05060f;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 700;
}

/* .price-value {
  display: flex;
  color: #05060f;
  font-size: 1.8rem;
  line-height: 1.25;
  font-weight: 700;
} */


.clubs-posts-card {
  width: 75% !important;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.card-title {
  color: var(--desc-color) !important;
}
.card-header {
  background-color: var(--bg-color) !important;
}
.card-body {
  background-color: var(--other-color) !important;
  color: var(--desc-color) !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-muted {
  color: var(--desc-color) !important;
}
.text-primary {
  color: var(--desc-color) !important;
}
.cbtn {
  border: none !important;
  outline: none !important;
  background-color: var(--button-color) !important;
  /* background-color: var(--button-color) !important; */
  color: #fafafa !important;
}
.progress {
  background-color: var(--lighter-bgs) !important;
}
.list-group-item {
  background-color: var(--other-color) !important;
}
.settings {
  background-color: var(--other-color) !important;
  color: var(--desc-color);
}
.ctext-primary {
  color: var(--desc-color) !important;
}
.cbg {
  background-color: var(--div-color) !important;
}
.cmute-text {
  color: var(--mute-text) !important;
}
.dropdown-item {
  color: var(--desc-color) !important;
}
.btnedit {
  background-color: transparent !important;
  cursor: pointer;
}
.modal-content .cmodal-content {
  background-color: var(--other-color) !important;
  color: var(--desc-color) !important;
}
.cmodal-title {
  color: var(--desc-color) !important;
}
.close {
  color: var(--desc-color) !important;

}
.calendar-container {
  height: 300px;
}
.render-challenge {
  /* position: absolute; */
  background-color: hsl(211, 100%, 84%);
  border-style: solid;
  
  border-radius: 8px;
  padding: 10px;
}
.render-challenge-temp{
  margin-top:100%;
}
.date_click_active_custom {
  position: relative;
}


.leaderboard-display {
  margin: 10px;
  margin-top:300px;
  padding: 10px;
  /* background-color: #007bff !important; */

}
.score-span {
  float: right;
}
.first-placer {
  background-color: #007bff !important;
}
.even {
  background-color: #021427 !important;
}
.odd {
  background-color: #273e55 !important;
  

}

.main-form{
  border-radius:10px;
  padding:10px;
  box-shadow: 0px 3px 3px -1px rgba(135,135,135,1);

  border-color: black;
  max-width: 700px;
  margin: auto;
  border-color: black;

}

.katex-display {
  font-weight: 100 !important;
  /* font-size: 50px !important; */
}
.katex-display .overlay {
  background: none;
}
.introjs-helperLayer {
  opacity: 0 !important;
  transition: all .3s ease-out !important;
}
.myTooltipClass {
  background-color: #fff !important;
  width: auto;
  top: 100px;
  border: orange 5px solid;
  border-radius: 15px 15px 15px 0;
  left: 300px !important;
}
.myHighlightClass {
  box-shadow: none;
}
.introjs-tooltip {
  max-width: 700px !important;
  display: block !important;
}
.introjs-arrow {
  top: 90% !important;
}
.introjs-skipbutton {
  display: none !important;
}
.thead-dark, .name_col1, .name_col2 {
  background-color: var(--leaderboard) !important;
}
.calendar-container, .react-calendar {
  background-color: var(--bg-color) !important;
}


.react-calendar { 
  width: 100%;
  height: auto;
  max-width: 100%;
  background-color: var(--bg-color) !important;
  color: var(--desc-color) !important;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
 }
 .react-calendar__tile{
  height:100px;
  font-size:30px;
  background-color: var(--other-color) !important;
  color: var(--desc-color) !important;
}
 .react-calendar__navigation button {
  color: hwb(202 28% 8%);
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
 }
 .react-calendar__navigation button:enabled:hover,
 .react-calendar__navigation button:enabled:focus {
  background-color: var(--div-color) !important;
 }
 .react-calendar__navigation button[disabled] {
  background-color: var(--div-color) !important;
 }
 abbr[title] {
  text-decoration: none;
 }



.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
 background-color: var(--calendar-hover) !important;
 color: var(--desc-color) !important;
 border-radius: 6px;
}

.react-calendar__tile--now {
 background: var(--calendar-now) !important;
 border-radius: 6px;
 height:100px;
 font-weight: bold;
 color: #ffffff;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
 background: #FFC800;
 border-radius: 6px;
 font-weight: bold;
 color: white;
}
.center-text {
  text-align: center;
}
.newsreader-title {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.newsreader-content {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.wbtn {
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 30px;
  margin: 10px;
}


.mini-view-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px; /* Gap between grid items */
  /* You can also use 'grid-template-rows' for defining row heights */
  justify-items: center; /* Align grid items along the inline (row) axis */
  align-items: center; /* Align grid items along the block (column) axis */
  justify-content: center; /* Align the grid along the inline (row) axis */
  align-content: center; /* Align the grid along the block (column) axis */
}
.mini-view-card {
  background-color: var(--div-color) !important;
  border-radius: 10px;
  padding: 10px;
  grid-column: span 1; /* Span one column */
  grid-row: span 1; /* Span one row */
  /* max-width: 300px; */
  max-height: fit-content;
  overflow: scroll;
  margin: 20px;
}



@media (max-width: 768px) {
  .mini-view-grid {
      grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
  }
}
@media (max-width: 480px) {
  .mini-view-grid {
      grid-template-columns: 1fr; /* Single column on even smaller screens */
  }
}


.hier-post-verify {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  vertical-align: auto;
  position: relative;
  /* top: -40px; */
}

/*teacher veryify*/
.post_tags {    
  display: inline-block;
  height: 24px;
  line-height: 24px;
  position: relative;
  margin: 0 16px 8px 0;
  padding: 0 10px 0 12px;
  background: #83de71;    
  -webkit-border-bottom-right-radius: 3px;    
  border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;    
  border-top-right-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  color: #fff;
  font-size: 12px;
  font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-weight: bold;
}
.post_tags:before {
  content: "";
  position: absolute;
  top:0;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent #83de71 transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;        
}

.post_tags:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 1px;
  float: left;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
  box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
}
.modal {
  position: fixed !important;
}
