body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ade7f0;
  height: 100%;
}
div#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-logo{
  width:100px;
  margin-top:-10px;
}
#avatar_acc{
  width:85%;

}
.nav-avatar{
  width:35px;
  height:35px;
  margin:10px;
  border-radius: 100%;
}
.nav-coin{
  width:25px;
  margin:10px;
  margin-left:0px;
  border-radius: 100%;
}
.nav-talents{
  color:orange;
}

/* .react-calendar__month-view__days__day--weekend {
 color: #d10000;
} */

.nunito-all {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 774;
  color: #FF9600;
  
  font-style: normal;
}
/* *{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;

} */
.nav-link{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  
  font-style: normal;
}

.chat{
  margin-top:60%;
  background-color:rgb(255, 255, 255);
  border-bottom-color: #FF9600;
  border-left-color: #FFC800;
  border-right-color: #FFC800;
  border-top-color: #FFC800;
  border-style: solid;
  padding:20px 30px;
  width:auto;
  color:#1CB0F6;
  font-weight:bold;
  font-size:large;
  border-radius:20px;
  border-bottom-left-radius:0;
}
 
  .name_col1{
    border-top-left-radius:12px;
  }
  .name_col2{
    border-top-right-radius:12px;
  }
.table{
  width:50%;
  max-width:50%;
}

  .chat:hover{
      cursor:pointer;
      background-color:rgb(218, 218, 218);
  }
