body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ade7f0;
  height: 100%;
}
div#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-logo{
  width:100px;
  margin-top:-10px;
}
#avatar_acc{
  width:85%;

}
.nav-avatar{
  width:35px;
  height:35px;
  margin:10px;
  border-radius: 100%;
}
.nav-coin{
  width:25px;
  margin:10px;
  margin-left:0px;
  border-radius: 100%;
}
.nav-talents{
  color:orange;
}
.react-calendar { 
 width: 100%;
 height: auto;
 max-width: 100%;
 background-color: #fff;
 color: #222;
 border-radius: 8px;
 box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
 font-family: Arial, Helvetica, sans-serif;
 line-height: 1.125em;
}
.react-calendar__navigation button {
 color: hwb(202 28% 8%);
 min-width: 44px;
 background: none;
 font-size: 16px;
 margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
 background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
 background-color: #f0f0f0;
}
abbr[title] {
 text-decoration: none;
}
/* .react-calendar__month-view__days__day--weekend {
 color: #d10000;
} */
.react-calendar__tile{
  height:100px;
  font-size:30px;
  background-color: white;
}
.nunito-all {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 774;
  color: #FF9600;
  
  font-style: normal;
}
*{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;

}
.nav-link{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: #007CB7 !important;
  
  font-style: normal;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
 background: #9bdfff;
 color: black;
 border-radius: 6px;
}
.ctext-primary{
  width:100%;

}
.react-calendar__tile--now {
 background: #ffde00;
 border-radius: 6px;

 height:100px;
 font-weight: bold;
 color: #ffffff;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  
 background: #FFC800;
 border-radius: 6px;
 font-weight: bold;
 color: white;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
 background: #f8f8fa;
}
.react-calendar__tile--active {
 background: #6f48eb;
 border-radius: 6px;
 font-weight: bold;
 color: white;
}
.react-calendar__tile--active:enabled:hover{
  color: grey !important;
}
.react-calendar__tile--active:enabled:focus {
 background: hwb(202 28% 8%);
 color: white !important;
}
.react-calendar--selectRange .react-calendar__tile--hover {
 background-color: #f8f8fa;
 color:black;
}
.react-calendar__tile--range {
 background: #f8f8fa;
 color: #ffde00;
 border-radius: 0;
}
.react-calendar__tile--rangeStart {
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
 border-top-left-radius: 6px;
 border-bottom-left-radius: 6px;
 color: white;
}
.react-calendar__tile--rangeEnd {
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
 
 border-top-right-radius: 6px;
 border-bottom-right-radius: 6px;
 color: white;
}

.chat{
margin-top:60%;
  background-color:rgb(255, 255, 255);
  border-bottom-color: #FF9600;
  border-left-color: #FFC800;
  border-right-color: #FFC800;
  border-top-color: #FFC800;
  border-style: solid;
  padding:20px 30px;
  width:175px;
  color:#1CB0F6;
  font-weight:bold;
  font-size:large;
  border-radius:20px;
  border-bottom-left-radius:0;
  }
 
  .name_col1{
    border-top-left-radius:12px;
  }
  .name_col2{
    border-top-right-radius:12px;
  }
.table{
  width:50%;
  max-width:50%;
}

  .chat:hover{
      cursor:pointer;
      background-color:rgb(218, 218, 218);
  }
