body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ade7f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-logo{
  width:100px;
  margin-top:-10px;
}
.nav-avatar{
  width:35px;
  margin:10px;
  border-radius: 100%;
}
.nav-coin{
  width:25px;
  margin:10px;
  margin-left:0px;
  border-radius: 100%;
}
.nav-talents{
  color:orange;
}