@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
.App {
  text-align: center;
}
html, body, .register, .register>div {
  height: 100%;
}

.register {
  background-image: url("");
  /* background-repeat: no-repeat; */
  width: 100%;
  height: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-check-input{
  margin-right:100px;
}

.modal_register {
  background-color: white;
  width: 500px;
  height: 650px;
  border-radius: 10px;
  padding: 10px;
}
.glogo {
  background-color: white;
  cursor: pointer;
  width: 350px;
  border-radius: 50px;
  outline: none;
  border: 3px solid #e6e6e6;  
}
body[data-theme="light"] {
  --bg-color: #fff;
  --headings-color: #000;
  --desc-color: #000;
  --button-color: #007bff;
  --div-color: #ededed;
  --other-color: #ffffff;
  --mute-text: #a3a3a3;
  --lighter-bgs: #d3d4d5;
  --leaderboard: #212529;
  --calendar-hover: #9bdfff;
  --calendar-now: #ffde00;
  --input-shade: #dcdcdc;
  border: none !important;
}
body[data-theme="light theme"] {
  --bg-color: #fff;
  --headings-color: #000;
  --desc-color: #000;
  --button-color: #007bff;
  --div-color: #ededed;
  --other-color: #ffffff;
  --mute-text: #a3a3a3;
  --lighter-bgs: #d3d4d5;
  --leaderboard: #212529;
  --calendar-hover: #9bdfff;
  --calendar-now: #ffde00;
  --input-shade: #dcdcdc;
  border: none !important;
}
body[data-theme="dark theme"] {
  --bg-color: #141b21;
  --headings-color: #fafafa;
  --desc-color: #fafafa;
  --button-color: #FF4C29;
  --div-color: #2f3a43;
  --other-color: #2C394B;
  --mute-text: #c9c9c9;
  --lighter-bgs: #384953;
  --leaderboard: #333a42;
  --calendar-hover: #30273b57;
  --calendar-now: #ffc400;
  --input-shade: #3940446d;
  border: none !important;
}

body[data-theme="summer theme"] {
  --bg-color: #61A3BA;
  --desc-color: #000;
  --button-color: #D2DE32;
  --div-color: #ebebcd;
  --other-color: #FFFFDD;
  --mute-text: #000;
  --lighter-bgs: #e9e9e9;
  --leaderboard: #212529;

  border: none !important;
}

body[data-theme="night theme"] {
  --bg-color: #092635;
  --headings-color: #fafafa;
  --desc-color: #fafafa;
  --button-color: #9EC8B9;
  --div-color: #5C8374;
  --other-color: #1B4242;
  --mute-text: #c9c9c9;
  --lighter-bgs: #384953;
  --leaderboard: #212529;

}

body {
  background: var(--bg-color) !important;
}
nav {
  background-color: var(--other-color) !important;
  color: var(--desc-color) !important;
}
.cmodal {
  background-color: var(--div-color) !important;
  color: var(--desc-color) !important;
}
.cmodal input, textarea {
  background-color: var(--input-shade) !important;
  color: var(--headings-color) !important;
  border: none !important;
}
.cmodal input {
  border-radius: 40px;
}
.cinline-nav {
  background-color: var(--bg-color) !important;
}
.navbar-brand {
  color: var(--desc-color) !important;
}

.theme-text {
  color: var(--desc-color) !important;
}

.card {
  background-color: var(--other-color) !important;
  text-overflow: ellipsis;
  overflow: hidden;

  white-space: nowrap;

  border: 2px solid #2a70a5;
  /* text-align: justify; */
  color: var(--desc-color);
  padding: 20px 0;
}
.card-title {
  color: var(--desc-color) !important;
}
.card-body {
  background-color: var(--other-color) !important;
  color: var(--desc-color) !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-muted {
  color: var(--desc-color) !important;
}
.text-primary {
  color: var(--desc-color) !important;
}
.cbtn {
  border: none !important;
  outline: none !important;
  background-color: var(--button-color) !important;
  /* background-color: var(--button-color) !important; */
  color: #fafafa !important;
}
.progress {
  background-color: var(--lighter-bgs) !important;
}
.list-group-item {
  background-color: var(--other-color) !important;
}
.settings {
  background-color: var(--other-color) !important;
  color: var(--desc-color);
}
.ctext-primary {
  color: var(--desc-color) !important;
}
.cbg {
  background-color: var(--div-color) !important;
}
.cmute-text {
  color: var(--mute-text) !important;
}
.dropdown-item {
  color: var(--desc-color) !important;
}
.btnedit {
  background-color: transparent !important;
  cursor: pointer;
}
.modal-content .cmodal-content {
  background-color: var(--other-color) !important;
  color: var(--desc-color) !important;
}
.cmodal-title {
  color: var(--desc-color) !important;
}
.close {
  color: var(--desc-color) !important;

}
.calendar-container {
  height: 300px;
}
.render-challenge {
  /* position: absolute; */
  background-color: hsl(211, 100%, 84%);
  border-style: solid;
  
  border-radius: 8px;
  padding: 10px;
}
.render-challenge-temp{
  margin-top:100%;
}
.date_click_active_custom {
  position: relative;
}


.leaderboard-display {
  margin: 10px;
  margin-top:300px;
  padding: 10px;
  /* background-color: #007bff !important; */

}
.score-span {
  float: right;
}
.first-placer {
  background-color: #007bff !important;
}
.even {
  background-color: #021427 !important;
}
.odd {
  background-color: #273e55 !important;
  

}

.main-form{
  border-radius:10px;
  padding:10px;
  box-shadow: 0px 3px 3px -1px rgba(135,135,135,1);

  border-color: black;
  max-width: 700px;
  margin: auto;
  border-color: black;

}

.katex-display {
  font-weight: 100 !important;
  /* font-size: 50px !important; */
}
.katex-display .overlay {
  background: none;
}
.introjs-helperLayer {
  opacity: 0 !important;
  transition: all .3s ease-out !important;
}
.myTooltipClass {
  background-color: #fff !important;
  width: auto;
  top: 100px;
  border: orange 5px solid;
  border-radius: 15px 15px 15px 0;
  left: 300px !important;
}
.myHighlightClass {
  box-shadow: none;
}
.introjs-tooltip {
  max-width: 700px !important;
  display: block !important;
}
.introjs-arrow {
  top: 90% !important;
}
.introjs-skipbutton {
  display: none !important;
}
.thead-dark, .name_col1, .name_col2 {
  background-color: var(--leaderboard) !important;
}
.calendar-container, .react-calendar {
  background-color: var(--bg-color) !important;
}


.react-calendar { 
  width: 100%;
  height: auto;
  max-width: 100%;
  background-color: var(--bg-color) !important;
  color: var(--desc-color) !important;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
 }
 .react-calendar__tile{
  height:100px;
  font-size:30px;
  background-color: var(--other-color) !important;
  color: var(--desc-color) !important;
}
 .react-calendar__navigation button {
  color: hwb(202 28% 8%);
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
 }
 .react-calendar__navigation button:enabled:hover,
 .react-calendar__navigation button:enabled:focus {
  background-color: var(--div-color) !important;
 }
 .react-calendar__navigation button[disabled] {
  background-color: var(--div-color) !important;
 }
 abbr[title] {
  text-decoration: none;
 }



.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
 background-color: var(--calendar-hover) !important;
 color: var(--desc-color) !important;
 border-radius: 6px;
}

.react-calendar__tile--now {
 background: var(--calendar-now) !important;
 border-radius: 6px;
 height:100px;
 font-weight: bold;
 color: #ffffff;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
 background: #FFC800;
 border-radius: 6px;
 font-weight: bold;
 color: white;
}
.center-text {
  text-align: center;
}
.newsreader-title {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.newsreader-content {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.wbtn {
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 30px;
  margin: 10px;
}